:root {
  --main-green: #146204;
  --dark-green: #1b5e20;
  --medium-green: #388e3c;
  --light-green: #66bb6a;
  --pastel-green: #a5d6a7;
  --white: #f4f5f4;
}

nav {
  width: 100%;
  padding: 0.5em;
  min-height: 4em;
  height: fit-content;
  background: var(--white);
  display: flex;
  font-family: Helvetica, Arial, sans-serif;
  align-items: center;
  top: 0;
  justify-content: space-between;
  margin: 0;
}

nav img {
  height: 3.5em;
  margin-left: 0.5em;
  transition: transform 0.3s ease-in-out;
}

nav img:hover {
  transform: scale(1.05);
}

.nav-links {
  margin: 0 0.5em;
  display: flex;
  flex-wrap: nowrap;
  height: 2.5em;
  list-style-type: none;
  width: fit-content;
  align-items: center;
  height: fit-content;
}

.nav-links a {
  margin: 0 1em;
  align-content: center;
  padding: 0.7em 1em;
  border-radius: 5px;
  transition: border 0.3s ease-in-out;
  text-decoration: none;
  color: var(--dark-green);
  font-weight: 450;
  text-align: center;
  height: fit-content;
}

.nav-links a:hover {
  background: var(--dark-green);
  color: var(--white);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.mobile {
  display: none;
}

@media screen and (max-width: 700px) {
  .mobile {
    display: block;
    width: 1.5em;
    z-index: 99;
    border-radius: 5px;
    position: absolute;
    right: 3em;
  }

  .mobile img {
    height: 1.3em;
  }

  nav {
    position: absolute;
    background: none;
    height: fit-content;
    align-items: flex-start;
    top: 0;
  }

  .nav-links {
    flex-direction: column;
    margin-right: -300px;
    transition: 0.4s ease-in-out;
    background: var(--white);
    height: fit-content;
    top: 4em;
    width: fit-content;
    margin-top: 2em;
    padding: 0.5em 0;
    border: 1px solid var(--dark-green);
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    transition: 0.3s ease-in-out;
  }

  .nav-links:hover {
    transform: scale(1.05);
  }

  .open {
    margin-right: 0;
  }

  .nav-links a {
    text-align: left;
    padding: 0.5em;
    width: 80%;
    border-radius: 3px;
    margin-left: 1.5em;
  }
}
