:root {
  --main-green: #146204;
  --dark-green: #1b5e20;
  --medium-green: #388e3c;
  --light-green: #66bb6a;
  --pastel-green: #a5d6a7;
  --white: #f4f5f4;
  --orange: #ff6700;
}

nav {
  width: 100%;
  left: 0;
  padding: 0.5em;
  min-height: 4em;
  height: fit-content;
  background: var(--white);
  display: flex;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif,
    sans-serif;
  align-items: center;
  top: 0;
  justify-content: space-between;
  margin: 0;
  position: fixed;
}

nav img {
  height: 3.5em;
  margin-left: 0.5em;
  transition: 0.3s ease-in-out;
  border-radius: 5px;
}

nav img:hover {
  transform: scale(1.05);
  background-color: var(--white);
}

.nav-links {
  margin: 0 0.5em;
  display: flex;
  flex-wrap: nowrap;
  height: 2.5em;
  list-style-type: none;
  width: fit-content;
  align-items: center;
  height: fit-content;
}

.navItem {
  margin: 0 1em;
  align-content: center;
  padding: 0.7em 1em;
  border-radius: 5px;
  transition: border 0.3s ease-in-out;
  text-decoration: none;
  color: var(--dark-green);
  font-weight: 500;
  text-align: center;
  height: fit-content;
  position: relative;
  transition: 0.25s ease-in-out;
}

.navItem:hover {
  background: var(--dark-green);
  color: var(--white);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.dropMenu {
  display: none;
  position: absolute;
  background: var(--white);
  border-top: 1px solid var(--dark-green);
  border-radius: 5px;
  padding: 0.25em 0.5em;
  color: var(--dark-green);
  font-weight: 500;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  z-index: 99;
  top: 3.5em;
  width: fit-content;
  min-width: 10em;
  list-style-type: none;
  text-align: left;
  margin: -0.7em 0 0 -1em;
  transition: 0.25s ease-in-out;
}

.dropItem {
  text-wrap: none;
  margin: 1em;
  position: relative;
  display: block;
}

.dropItem::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: -5px;
  left: 0;
  background-color: currentColor;
  transform-origin: bottom right;
  transition: 0.25s ease-out;
}

.dropItem:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.dropMenu:hover {
  display: block;
}

#shop:hover #shopMenu {
  display: block;
}

#services:hover #servicesMenu {
  display: block;
}

.mobile {
  display: none;
}

@media screen and (max-width: 700px) {
  .mobile {
    display: block;
    width: 2em;
    z-index: 99;
    border-radius: 5px;
    position: absolute;
    right: 3em;
    cursor: pointer;
  }

  .mobile img {
    height: 1.5em;
    padding: 0.3em;
  }

  nav {
    position: absolute;
    background: none;
    height: fit-content;
    align-items: flex-start;
    margin-top: 0;
  }

  .nav-links {
    flex-direction: column;
    margin-right: -300px;
    transition: 0.4s ease-in-out;
    background: var(--white);
    height: fit-content;
    top: 4em;
    width: 15em;
    margin-top: 2em;
    padding: 1.2em 0;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    transition: 0.3s ease-in-out;
  }

  .nav-links:hover {
    transform: scale(1.02);
  }

  .open {
    margin-right: 0;
  }

  .navItem {
    text-align: left;
    padding: 0.5em 1em;
    width: 80%;
    border-radius: 3px;
    margin: 0.1em 0;
    background-color: white;
  }

  .dropMenu {
    margin-top: -1.1em;
    margin-left: -0.5em;
  }
}
