:root {
  --main-green: #146204;
  --dark-green: #1b5e20;
  --medium-green: #388e3c;
  --light-green: #66bb6a;
  --pastel-green: #a5d6a7;
  --white: #f4f5f4;
  --orange: #ff6700;
  --grey: #272727;
  --black: #000;
  --lighter-grey: #4d4d4d;
  --yellow: rgb(255, 238, 0);
}

#horizontal-scroll-container {
  display: block;
  padding: 1em;
  width: 100%;
  overflow-x: scroll;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif,
    sans-serif;
}

#top {
  align-items: center;
  width: 100vw;
  display: flex;
}

#top h3 {
  font-size: 1.5em;
  font-weight: 400;
}

.scroll-container {
  display: flex;
  margin: 2em 0;
  width: fit-content;
  flex: 1;
  will-change: transform;
  transition: all 0.5s ease-in-out;
}

#scroll-btns {
  right: 1em;
  position: absolute;
}

.scroll-button {
  background: var(--dark-green);
  border-radius: 5px;
  cursor: pointer;
  width: 2.25em;
  height: 2.25em;
  border: none;
  margin: 0.25em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in-out;
}

.scroll-button:hover {
  background-color: var(--medium-green);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.scroll-button img {
  width: 1.8em;
  height: 1.8em;
}

.offer-item {
  height: 18em;
  width: 18em;
  justify-content: center;
  margin: 1em;
  background-color: var(--white);
  overflow: hidden;
  border-radius: 5%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border: 2px solid var(--white);
  position: relative;
  display: inline-flex;
  transition: 0.5s ease-in-out;
}

.offer-item img {
  width: 100%;
  height: auto;
  position: absolute;
}

.details {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 1em;
  color: var(--white);
  background-color: var(--dark-green);
  transition: all 0.3s ease-in-out;
  bottom: -93.5%;
}

.details h3 {
  font-weight: 600;
  font-size: 1em;
  margin: 0 1em 1em 1em;
}

.details h4 {
  font-weight: 500;
  font-size: 0.9em;
  margin: 0 1em;
}

.details ul {
  margin: 0;
  margin-left: -0.5em;
  font-size: 0.9em;
  font-weight: 450;
  list-style-type: circle;
}

.details ul span {
  text-decoration: underline;
}

.details p {
  font-size: 0.9em;
  font-weight: 450;
  position: relative;
  margin-left: 1em;
  margin-top: 0.5em;
}

.details a {
  text-decoration: underline;
  color: var(--white);
}

.offer-item:hover .details {
  bottom: -10%;
  opacity: 1;
}

.end-btns {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  right: 1.75em;
  bottom: 2.5em;
  width: 10em;
}

.buy {
  padding: 0.5em 1em;
  border: none;
  background-color: var(--dark-green);
  color: white;
  cursor: pointer;
  font-size: 0.9em;
  transition: 0.3s ease-in-out;
  border-radius: 5px;
  line-height: 1.5;
  border: 1px solid var(--medium-green);
  align-content: center;
}

.buy:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  background-color: var(--medium-green);
}

.share {
  background: var(--dark-green);
  border-radius: 5px;
  cursor: pointer;
  width: 2.75em;
  height: 2.75em;
  border: none;
  margin: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--medium-green);
  transition: 0.3s ease-in-out;
}

.share:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  background-color: var(--medium-green);
}

.share img {
  width: 1.75em;
  height: auto;
}
